@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500;700&family=Fira+Sans+Condensed:wght@700&display=swap');

main{
    font-family: 'Fira Mono', monospace;
}
.margin-x{
    margin-left: 15%;
    margin-right: 15%;
}